[href]{
    color:black;
    text-decoration:none;
}

[href].rainbow:hover,
[href].rainbow:active{
    animation: rainbow 2s linear infinite;
}

@keyframes rainbow{
    0%  {color: red;}
    16% {color: orange;}
    33% {color: yellow;}
    50% {color: green;}
    66% {color: blue;}
    83% {color: indigo;}
    100%    {color: violet;}
}